body {
    font-family: "PingFang SC", "Hiragino Sans GB", "Helvetica Neue", "Microsoft Yahei", "Noto Sans CJK", sans-serif;
    margin: 0;
    background-color: #f8f8f8;
}

header {
    background-color: #B2EBF2;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

header#navbar-container {
    padding: 0 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
}

@media handheld and (orientation: portrait) {
    header#navbar-container {
        height: 48px;
    }
}

@media handheld and (orientation: landscape) {
    header#navbar-container {
        height: 56px;
    }
}

header a {
    display: inline-block;
    text-decoration: none;
}

header a#logo-link {
    height: 75%;
}

#logo {
    height: 100%;
}

#org-brand {
    display: flex;
    align-items: center;
    height: 100%;
}

#org-name {
    margin-left: 4px;
    color: #202a74;
    font-family: "Source Code Pro", Consolas, Monaco, monospace;
    font-size: 1.8em;
}

#bracket-divider {
    margin: 0 8px;
    color: #009688;
    font-family: "Source Code Pro", Consolas, Monaco, monospace;
    font-size: 1.5em;
}

#app-name {
    color: #e91e63;
}

#navbar-container .text {
    color: #607D8B;
}

#navbar-container .text a {
    color: #37474F;
}

#content {
    display: flex;
    justify-content: center;
    padding-top: 1em;
}

.login-form, .homepage, .query {
    background-color: white;
}

form.login-form div {
    margin: 1em;
}

form .title {
    width: 3em;
    float: left;
    text-align: right;
    padding-right: 0.5em;
}

form .submit {
    text-align: right;
}

/*
#ad {
    display: flex;
    flex-flow: row wrap;
}

#ad > img {
    width: 33%;
    width: calc(100% / 3);
    height: 100%;
}

ul.date-list {
    display: inline-block;
}
*/

ul.date-list li {
    padding-top: 0.3em;
    padding-bottom: 0.2em;
}

a.date {
    text-decoration: none;
}

table.menu {
    border-collapse: collapse;
    margin-top: 0.5em;
    background-color: white;
}

table.menu th, td {
    border: 1px solid #c5dbeb;
    border-left: 0;
    border-right: 0;
}

table.menu th {
    background-color: #bfbfbf;
    color: white;
}

table.menu td {
    font-size: 75%;
    text-align: center;
}

table.menu td.name {
    white-space: nowrap;
    overflow-x: auto;
    max-width: 8em;
}

table.menu td.selector {
    font-size: 100%;
    text-align: left;
}

.not-order {
    float: right;
}

.sub {
    background-color: #c5dbeb;
}

.total {
    text-align: right;
}

input[type="submit"].menu {
    width: 15em;
}

@media (max-width: 400px) {
    #org-name {
        display: none;
    }

    #app-eng-name {
        display: none;
    }

    #navbar-container .text {
        font-size: 0.9em;
    }

    table.menu td.name {
        max-width: 4em;
    }
}

@media (min-width: 400px) and (max-width: 600px) {
    #org-name {
        display: none;
    }

    table.menu td.name {
        max-width: 6em;
    }
}
