html {
    height: 100%;
}

body {
    font-family: "PingFang SC", "Hiragino Sans GB", "Helvetica Neue", "Microsoft Yahei", "Noto Sans CJK", sans-serif;
    margin: 0;
    background: url("background_rhombus_right_bottom.png") right bottom no-repeat #f8f8f8;
    background-attachment: fixed;
    min-height: 100%;
}

header {
    background-color: #3F51B5;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

header#navbar-container {
    padding: 0 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
}

@media screen and (max-width: 600px) and (orientation: portrait) {
    header#navbar-container {
        height: 48px;
    }
}

@media screen and (max-width: 960px) and (orientation: landscape) {
    header#navbar-container {
        height: 56px;
    }
}

header a {
    display: inline-block;
    text-decoration: none;
}

header a#logo-link {
    height: 75%;
}

#logo {
    height: 100%;
}

#org-brand {
    display: flex;
    align-items: center;
    height: 100%;
}

#divider {
    border-left: 1px solid white;
    border-right: 1px solid white;
    height: 80%;
    margin: 0 1em;
}

#app-name {
    color: white;
    font-size: 1.5em;
}

#navbar-container .text {
    color: #EEEEEE;
}

#navbar-container .text a {
    color: #BDBDBD;
}

#content {
    display: flex;
    justify-content: center;
    padding-top: 1.5em;
}

.login-container {
    text-align: center;
}

form.login-form div {
    margin: 1em;
}

form .title {
    width: 3em;
    float: left;
    text-align: right;
    padding-right: 0.5em;
}

/* Copied from GitHub */
.login-form input[type="submit"] {
    width: 100%;
    color: white;
    font-size: 16px;
    background-image: linear-gradient(#8add6d, #60b044);
    border-color: #5ca941;
    border-radius: 3px;
}

/*
#ad {
    display: flex;
    flex-flow: row wrap;
}

#ad > img {
    width: 33%;
    width: calc(100% / 3);
    height: 100%;
}

ul.date-list {
    display: inline-block;
}
*/

ul.date-list li {
    padding-top: 0.3em;
    padding-bottom: 0.2em;
}

a.date {
    text-decoration: none;
}

table.menu {
    border-collapse: collapse;
    margin-top: 0.5em;
    background-color: white;
}

table.menu th, td {
    border: 1px solid #c5dbeb;
    border-left: 0;
    border-right: 0;
}

table.menu th {
    background-color: #bfbfbf;
    color: white;
}

table.menu td {
    font-size: 75%;
    line-height: 150%;
    text-align: center;
}

table.menu td.name {
    white-space: nowrap;
    overflow-x: auto;
    max-width: 8em;
}

table.menu td.selector {
    font-size: 100%;
    text-align: left;
}

.not-order {
    float: right;
}

.sub {
    background-color: #c5dbeb;
}

.total {
    text-align: right;
}

input[type="submit"].menu {
    width: 15em;
}

@media (max-width: 1120px) {
    body{
        background-size: 50%;
    }
}

@media (max-width: 400px) {
    body{
        background-size: contain;
    }

    #app-eng-name {
        display: none;
    }

    #divider {
        margin: 0 0.5em;
    }

    #navbar-container .text {
        font-size: 0.9em;
    }

    table.menu td.name {
        max-width: 4em;
    }
}

@media (min-width: 400px) and (max-width: 520px) {
    body {
        background-size: 75%;
    }

    #app-eng-name {
        display: none;
    }

    table.menu td.name {
        max-width: 6em;
    }
}
