body {
    font-family: "PingFang SC","Hiragino Sans GB","Helvetica Neue","Microsoft Yahei","Noto Sans CJK","Source Han Sans","WenQuanYi Micro Hei",sans-serif;
    margin: 0;
}

header {
    background-color: #f8f8f8;
    margin-bottom: 1em;
}

.logo {
/*
    display: block;
    margin: 0 auto;
    width: 21em;
*/
    max-width: 100%;
}

#menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    padding: 0.5em;
}

nav li.active {
    background-color: white;
}

nav a {
    font-size: 150%;
    color: #777;
    text-decoration: none;
}

#content {
    display: flex;
    justify-content: center;
}

form.login-form div {
    margin: 1em;
}

form .title {
    width: 3em;
    float: left;
    text-align: right;
    padding-right: 0.5em;
}

form .submit {
    text-align: right;
}

/*
#ad {
    display: flex;
    flex-flow: row wrap;
}

#ad > img {
    width: 33%;
    width: calc(100% / 3);
    height: 100%;
}

ul.date-list {
    display: inline-block;
}
*/

ul.date-list li {
    padding-top: 0.3em;
    padding-bottom: 0.2em;
}

a.date {
    text-decoration: none;
}

table.menu {
    border-collapse: collapse;
    margin-bottom: 0.5em;
}

table.menu th, td {
    border: 1px solid black;
}

table.menu td {
    font-size: 75%;
}

table.menu td.name {
    white-space: nowrap;
    overflow-x: auto;
    max-width: 5.5em;
}

table.menu td.selector {
    font-size: 100%
}

.not-order {
    float: right;
}

input[type="submit"].menu {
    width: 15em;
}
