body {
    font-family: "PingFang SC","Hiragino Sans GB","Helvetica Neue","Microsoft Yahei","Noto Sans CJK",sans-serif;
    margin: 0;
    background-color: #f8f8f8;
}

header {
    background-color: #202a74;
    margin-bottom: 1em;
}

.logo {
    display: block;
    margin: 0 auto;
    width: 720px;
    max-width: 100%;
}

#navbar-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    padding: 0.5em;
}

nav li.active {
    background-color: #f8f8f8;
}

nav a {
    font-size: 150%;
    color: white;
    text-decoration: none;
}

nav li.active a {
    color: #4FC3F7;
}

#navbar-container .text {
    color: #FFEB3B;
}

#navbar-container .text a {
    color: #F4511E;
}

#content {
    display: flex;
    justify-content: center;
}

.login-form, .homepage, .query {
    background-color: white;
}

form.login-form div {
    margin: 1em;
}

form .title {
    width: 3em;
    float: left;
    text-align: right;
    padding-right: 0.5em;
}

form .submit {
    text-align: right;
}

/*
#ad {
    display: flex;
    flex-flow: row wrap;
}

#ad > img {
    width: 33%;
    width: calc(100% / 3);
    height: 100%;
}

ul.date-list {
    display: inline-block;
}
*/

ul.date-list li {
    padding-top: 0.3em;
    padding-bottom: 0.2em;
}

a.date {
    text-decoration: none;
}

table.menu {
    border-collapse: collapse;
    margin-top: 0.5em;
    background-color: white;
}

table.menu th, td {
    border: 1px solid #c5dbeb;
    border-left: 0;
    border-right: 0;
}

table.menu th {
    background-color: #bfbfbf;
    color: white;
}

table.menu td {
    font-size: 75%;
    text-align: center;
}

table.menu td.name {
    white-space: nowrap;
    overflow-x: auto;
    max-width: 4em;
}

table.menu td.selector {
    font-size: 100%;
    text-align: left;
}

.not-order {
    float: right;
}

.sub {
    background-color: #c5dbeb;
}

.total {
    text-align: right;
}

input[type="submit"].menu {
    width: 15em;
}
