<form action="{% url 'homepage' %}" method="post">
    {% csrf_token %}
    <select id="year" name="year">
        {% for year in calendar.selectable_year %}
            <option value="{{ year }}"{% if year == calendar.selected_year %}
                    selected="selected"{% endif %}>{{ year }}</option>
        {% endfor %}
    </select>
    <label for="year">年</label>
    <select id="month" name="month">
        {% for month in month_list %}
            <option value="{{ month }}"{% if month == calendar.selected_month %}
                    selected="selected"{% endif %}>{{ month }}</option>
        {% endfor %}
    </select>
    <label for="month">月</label>
    <input type="submit" value="查询"/>
</form>
<p>理论上说，现在能订到{{ calendar.orderable_day }}及以后的餐。</p>
<ul class="date-list" id="l{{ calendar.selected_year }}-{{ calendar.selected_month }}">
    {% for date in calendar.current %}
        <li>
            <a class="date" href="{% url 'menu' year=date.year month=date.month day=date.day %}">{{ date }}&nbsp;&nbsp;{{ date|date:"l" }}</a>
        </li>
    {% empty %}
        <li>本月无可订餐的日期</li>
    {% endfor %}
</ul>
