{% extends "canteen/base.html" %}{% load static %}
{% block title %}登录{% endblock %}

{% block content %}
    <style>#content {position: relative; overflow: hidden;}</style>
    <div id="background-notice" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%) rotate(45deg); color: red; opacity: 0.3; font-size: 5em; z-index: -1;">Abandoned</div>
    <div class="login-container">
    <img src="{% static 'canteen/eaxperiment_login.png' %}" alt="食验" title="食验" id="login-icon">
    <form class="login-form" action="#" method="post">
        {% csrf_token %}
        <div>
            <input type="text" name="username" required="required" placeholder="Student ID">
        </div>
        <div>
            <input type="password" name="password" required="required" placeholder="Password">
        </div>
        <div class="submit">
            <input class="Grake-button" type="submit" value="登录">
        </div>
    </form>
    <div id='clientDownload' class="clearfix">
    <p id="md-download-text">试试我们的 Android 客户端？</p>
    <a id="md-download-link" href="https://github.com/C6H5-NO2/EAxT/raw/master/apk/org.szesmaker.ordermeal_v0.2.2.apk" target="_blank">下载</a>
    </div>
    <p style="width: 250px; text-align: left; font-size: 0.6em; color: #455A64;">本网站并非深圳实验学校官方设立。<span style="font-size: 1rem; color: red;">作者已经毕业了，无法继续维护这个网站，它指不定哪天就用不了了。</span>您可能会遇到一些意料之外的情况，如：订单提交失败、取餐时发现只订了一份青菜等。<span style="font-size: 1rem; color: brown;">在本网站无法正常工作时，请于浏览器访问深圳实验学校高中部官方订餐系统 <a href="http://gzb.szsy.cn/card/">http://gzb.szsy.cn/card/</a></span><br>(gzb -> GaoZhongBu)</p>
    </div>
{% endblock %}
