{% extends "canteen/base.html" %}{% load staticfiles %}
{% block title %}请登录{% endblock %}

{% block header %}
    请登录
{% endblock %}
{% block content %}
    <form class="login-form" action="#" method="post">
        {% csrf_token %}
        <div>
            <label for="username" class="title">用户名</label>
            <input type="text" name="username" id="username" placeholder="Student ID">
        </div>
        <div>
            <label for="password" class="title">密码</label>
            <input type="password" name="password" id="password">
        </div>
        <div class="submit">
        <input type="submit" value="登录">
        </div>
    </form>
{% endblock %}
{% block extra %}
    <div id="ad">
        <img src="{% static 'canteen/ad/19.png' %}" alt="19元3D打印券" title="19元3D打印券">
        <img src="{% static 'canteen/ad/29.png' %}" alt="29元3D打印券" title="29元3D打印券">
        <img src="{% static 'canteen/ad/back.png' %}" alt="3D打印券背面" title="3D打印券背面">
        <img src="{% static 'canteen/ad/flash_disk.jpg' %}" alt="Kingston DTSE9" title="Kingston DTSE9">
        <img src="{% static 'canteen/ad/OTG.jpg' %}" alt="OTG线" title="OTG线">
        <img src="{% static 'canteen/ad/VR.jpg' %}" alt="VR眼睛" title="VR眼睛">
    </div>
{% endblock %}
