{% extends "canteen/base.html" %}{% load staticfiles %}
{% block title %}
    {{ year }}-{{ month }}-{{ day }}菜单
{% endblock %}
{% block head %}
    <script async src="{% static 'canteen/script/price_calc.js' %}"></script>
{% endblock %}
{% block header %}
    余额：{{ balance }} <a href="{% url 'logout' %}">退出</a>
{% endblock %}
{% block content %}
    <form method="post" action="{% url 'submit' year month day %}">
        {% csrf_token %}
        {% for meal in menu %}
            <table class="menu">
                <thead>
                <tr>
                    <th colspan="5">{{ meal.name }}
                        <div class="not-order"><input
                                {% if not menu.mutable %}disabled="disabled" {% endif %}type="checkbox"
                                name="d{{ meal.id }}" id="d{{ meal.id }}"{% if meal.id in menu.do_not_order %}
                                checked="checked"{% endif %}><label for="d{{ meal.id }}">不订餐</label></div>
                    </th>
                </tr>
                <tr>
                    <th>编号</th>
                    <th>类型</th>
                    <th>菜名</th>
                    <th>单价</th>
                    <th>份数</th>
                </tr>
                </thead>
                <tbody>
                {% for course in meal %}
                    <tr class="course">
                        <td>{{ course.num }}</td>
                        <td>{{ course.type }}</td>
                        <td class="name">{{ course.name }}</td>
                        <td>{{ course.price }}</td>
                        <td class="selector">
                            {% for course_count in course.iter %}
                                <input type="radio" id="c{{ meal.id }}-{{ course.id }}-{{ course_count }}"
                                       name="{{ meal.id }}-{{ course.id }}" value="{{ course_count }}"
                                        {% if course_count == course.current %} checked="checked"{% endif %}
                                        {% if not menu.mutable %} disabled="disabled"{% endif %}>
                                <label for="c{{ meal.id }}-{{ course.id }}-{{ course_count }}">{{ course_count }}</label>
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% empty %}
            此日无菜单
        {% endfor %}
        <hr id="separator">
        {% if menu.mutable %}
            <input class="checkout-button Grake-button" type="submit" value="提交">
            <div id="tips">
                <p>本网站的服务由于<a href="http://guide.daocloud.io/dcs/%E4%BA%91%E7%AB%AF%E6%B5%8B%E8%AF%95%E7%8E%AF%E5%A2%83%E8%B5%84%E6%BA%90%E5%9B%9E%E6%94%B6%E8%AF%B4%E6%98%8E-9153734.html">主机商的限制</a>等原因，较为不稳定。如果遇到问题，<span id='clientDownloadInline'>不妨尝试<a href="https://github.com/szes-maker/EAxT/releases/download/v0.2.1/org.szesmaker.ordermeal_v0.2.1.apk" target="_blank">食验客户端</a> (Android version)</span>，或烦请访问 <a href="http://gzb.szsy.cn/card/">http://gzb.szsy.cn/card/</a> 学校官方订餐网站。</p>
                <p>感谢您使用本服务，我们对给您带来的不便深感抱歉。</p>
            </div>
        {% endif %}
    </form>
{% endblock %}
