{% extends "canteen/base.html" %}{% load staticfiles %}
{% block title %}
    {{ year }}-{{ month }}-{{ day }}菜单
{% endblock %}
{% block head %}
    <script src="{% static 'canteen/script/price_calc.js' %}"></script>
{% endblock %}
{% block header %}
    余额：{{ balance }} <a href="{% url 'logout' %}">退出</a>
{% endblock %}
{% block content %}
    <form method="post" action="{% url 'submit' year month day %}">
        {% csrf_token %}
        {% for meal in menu %}
            <table class="menu">
                <thead>
                <tr>
                    <th colspan="5">{{ meal.name }}
                        <div class="not-order"><input
                                {% if not menu.mutable %}disabled="disabled" {% endif %}type="checkbox"
                                name="d{{ meal.id }}" id="d{{ meal.id }}"{% if meal.id in menu.do_not_order %}
                                checked="checked"{% endif %}><label for="d{{ meal.id }}">不订餐</label></div>
                    </th>
                </tr>
                <tr>
                    <th>编号</th>
                    <th>类型</th>
                    <th>菜名</th>
                    <th>单价</th>
                    <th>份数</th>
                </tr>
                </thead>
                <tbody>
                {% for course in meal %}
                    <tr class="course">
                        <td>{{ course.num }}</td>
                        <td>{{ course.type }}</td>
                        <td class="name">{{ course.name }}</td>
                        <td>{{ course.price }}</td>
                        <td class="selector">
                            {% for course_count in course.iter %}
                                <input type="radio" id="c{{ meal.id }}-{{ course.id }}-{{ course_count }}"
                                       name="{{ meal.id }}-{{ course.id }}" value="{{ course_count }}"
                                        {% if course_count == course.current %} checked="checked"{% endif %}
                                        {% if not menu.mutable %} disabled="disabled"{% endif %}>
                                <label for="c{{ meal.id }}-{{ course.id }}-{{ course_count }}">{{ course_count }}</label>
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% empty %}
            此日无菜单
        {% endfor %}
        <hr id="separator">
        {% if menu.mutable %}
            <input class="menu" type="submit" value="提交">
            <p>哇，看来你已经发现上面那个提交按钮了</p>
            <p><del>（我才不会告诉你这段字是我为了方便在 iOS 设备上按提交按钮才加上的）</del></p>
            <p><del>（是的，我连样式都懒得改了）</del></p>
            <p>如果你按下了上面那个按钮，你会发现它的提交速度比学校还慢……这我也很无奈:( 毕竟学校服务器反应本来就慢，又有网络延迟什么的</p>
            <p>现在有计划将提交这个最耗时的步骤放进后台处理。若是有什么想法，欢迎去开一个 Issue。它会慢慢好起来的。<del>作者才不会说他是拖延症晚期呢~~</del></p>
        {% endif %}
    </form>
{% endblock %}
