{% extends "canteen/base.html" %}{% load staticfiles %}
{% block title %}
    {{ year }}-{{ month }}-{{ day }}菜单
{% endblock %}
{% block head %}
    <script src="{% static 'canteen/script/price_calc.js' %}"></script>
{% endblock %}
{% block header %}
    {{ name }} <a href="{% url 'logout' %}">退出</a>
{% endblock %}
{% block content %}
    <form method="post" action="{% url 'submit' year month day %}">
        {% csrf_token %}
        {% for meal in menu %}
            <table class="menu">
                <thead>
                <tr>
                    <th colspan="5">{{ meal.name }}
                        <div class="not-order"><input
                                {% if not menu.mutable %}disabled="disabled" {% endif %}type="checkbox"
                                name="d{{ meal.id }}" id="d{{ meal.id }}"{% if meal.id in menu.do_not_order %}
                                checked="checked"{% endif %}><label for="d{{ meal.id }}">不订餐</label></div>
                    </th>
                </tr>
                <tr>
                    <th>编号</th>
                    <th>类型</th>
                    <th>菜名</th>
                    <th>单价</th>
                    <th>份数</th>
                </tr>
                </thead>
                <tbody>
                {% for course in meal %}
                    <tr class="course">
                        <td>{{ course.num }}</td>
                        <td>{{ course.type }}</td>
                        <td class="name">{{ course.name }}</td>
                        <td>{{ course.price }}</td>
                        <td class="selector">
                            {% for course_count in course.iter %}
                                <input type="radio" id="c{{ meal.id }}-{{ course.id }}-{{ course_count }}"
                                       name="{{ meal.id }}-{{ course.id }}" value="{{ course_count }}"
                                        {% if course_count == course.current %} checked="checked"{% endif %}
                                        {% if not menu.mutable %} disabled="disabled"{% endif %}>
                                <label for="c{{ meal.id }}-{{ course.id }}-{{ course_count }}">{{ course_count }}</label>
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% empty %}
            此日无菜单
        {% endfor %}
        <hr id="separator">
        {% if menu.mutable %}
            <input class="menu" type="submit" value="提交">
        {% endif %}
    </form>
{% endblock %}
